apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: cookbooks-private
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      repository: githubuser/repository