{% if variable is defined and variable == 'itstrue'  %}
  I ended up to be true
{% elif variable is defined and variable == 'nottrue' %}
  I ended up to lie
{% else %}
  I ended up to be something else
{% endif %}