---
name: Molecule

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  molecule:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Podman
        run: apt update && apt install podman

      - name: Install dependencies.
        run: pip3 install yamllint ansible-lint ansible molecule "molecule-plugins[podman]"

      - name: Install Galaxy dependencies.
        run: ansible-galaxy collection install community.docker

      - name: Run molecule
        run: "cd ansible/molecule/molecule_test_role && molecule test"
